<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Bid Sell Demo</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>BASIC ITEM PAGE</h1>

<h2>You are looking at <span th:text="${item.name}"/> </h2>
<h2> Description is <span th:text="${item.description}"/></h2>

<td>
    <span th:if="${existsMax == false}">There is no current bid</span>
    <span th:unless="${existsMax == false}">The current max bid is <span th:text="${maxBid.bidVal}"/></span>
</td>

<form action="#" th:action="@{/bids/save}" method="post" th:object="${bid}">
    <table border="1">
        <tr>
            <td>Enter a bid: </td>
            <td><input type="text" th:field="*{bidVal}"/></td>
            <input type="hidden" th:value="${bid.itemId}" name="itemId">
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>