<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Bid Sell Demo</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>All the current items</h1>
<h3><a href="/myitems">See My Items</a></h3>
<h3><a href="/items/new">Post a new item</a></h3>
<table>
    <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr th:each="item: ${items}">
        <td th:text="${item.itemName}" />
        <td th:text="${item.description}" />
        <td> <a href="/items" th:href="@{'/items/'+${item.id}}">Check out item</a> </td>
    </tr>
</table>
</body>
</html>